#page1{
    display: block; /* Show, initially*/
}

.f_tile {
    top: 15%;
    position: absolute;
    background-color: #59DCE3;
    display: block;
    width: 6%;
    text-align: center;
    border: 10px solid #FD0;
    font-size: 300%;
}

#t1{left: 10%;}
#t2{left: 20%;}
#t3{left: 30%;}
#t4{left: 40%;}
#t5{left: 50%;}
#t6{left: 60%;}
#t7{left: 70%;}
#t8{left: 80%;}

#slogan1{
    font-size: 220%;
    padding-right: 1%;
    text-align: right;
    position: absolute;
    color: #9800C2;
    width: 98%;
    top: 29%;
}

#slogan2{
    font-size: 180%;
    margin-left: 5%;
    position: absolute;
    top: 40%;
}


.splod_button {
    top: 55%;
    position: absolute;
    display: block;
    text-align: center;
    border: 2px solid #B80028;
    font-size: 150%;
    border-radius: 15px;
    width: 30%;
    height: 20%;
    text-decoration: underline;
    padding-top: 6%;
}

#init{
    background-color: #147EDB;
    left: 12%;
}


#join{
    background-color: #EB8500;
    left: 57%;
}

a.white-link {
    color: white;
}

a.white-link:hover{
    font-weight: bold;
}

.homeb{
    background-color: #B5E5E8;
    display: block;
    font-weight: bold;
    text-align: center;
    width: 100%
}

/*page 2 stuff*/
#page2, #page3{
    font-size: 120%;
    padding: 2%;
    width: 100%;
}

.identifying-box{
    background-color: #FCF0A9;
    padding: 1%;
    display: inline;
    font-weight: bold;
    color: #CC81E6;
    font-size: 200%;
    border: 1px dashed blue;
}

p {
    margin-bottom: 2.2%;
}

.p1 {
    margin-bottom: 2.2%;
    padding: 1% 0;
    display: block;
}

a.red-link {
    font-size: 140%;   
    color: red;
}

a.red-link:hover{
    font-weight: bold;
}

td.b33{
    font-size: 60%;   
    border: 2px dotted #999;
    padding: 4px;
}

#room-table{
    margin: 5px;
}

p.b34{
    font-size: 75%;   
    color: #009;
    padding: 10px;
}

.details2{
    margin-left: 4%;
    font-size: 80%;   
}