/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top:200px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(22, 41, 40, 0.6); /* Black w/ opacity */
    text-align: center;
}

.modal-content {
    margin: auto;
    position: relative;
    background-color: grey;
    border: 1px solid #888;
    width: 50%;
}
