/* The Modal (background) */
#modal_dark_sheet {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}

#modal-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background-color: #9e9e9e;
    display: inline-block;
    width: auto;
    text-align: center;
    border: 1px solid #CCC;
}



#modal-header 
{
    padding: 2%;
/*    border: 2px solid #FFF;*/
    color: black;
}

#box-title{
    font-size: 100%;
    font-weight: bold;
}

/* The Close X only */
#close {
    margin-top: -2.5%;
    margin-right: 2%;
    color: black;
    float: right;
    font-size: 120%;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#modal-body {
    padding: 2px 16px;
    font-size: 65%;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

table {
    border-collapse: collapse;
    width: auto;
}

th.scores, td.scores {
    padding: 8px;
    white-space: nowrap;
}

th.scores-underline, td.scores-underline {
    border-bottom: 1px solid #666;
}

th{
    color: rgba(0,0,0, 0.7); /* Black w/ opacity */
}

td.pl-name{
    text-align: left;
}

td.pl-score{
    font-size: 120%;
}

#modal-footer {
    padding: 2px 16px;
    font-size: 75%;
    padding: 5%;
    white-space: nowrap;
}

a.modal {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

a.modal:hover{
    color: red;
}

.ToastGrey {
    -moz-box-shadow:inset 0px -3px 7px 0px #545454;
    -webkit-box-shadow:inset 0px -3px 7px 0px #545454;
    box-shadow:inset 0px -3px 7px 0px #545454;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #38444a), color-stop(1, #1d2329));
    background:-moz-linear-gradient(top, #38444a 5%, #1d2329 100%);
    background:-webkit-linear-gradient(top, #38444a 5%, #1d2329 100%);
    background:-o-linear-gradient(top, #38444a 5%, #1d2329 100%);
    background:-ms-linear-gradient(top, #38444a 5%, #1d2329 100%);
    background:linear-gradient(to bottom, #38444a 5%, #1d2329 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#38444a', endColorstr='#1d2329',GradientType=0);
    background-color:#38444a;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#fff045;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:1px 1px 1px #000000;
}

.ToastCentral {
    position: absolute;
    width: 50%;
    left: 25%;
}

.ToastIn {
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.4s;
    animation-name: fadein;
    animation-duration: 0.4s
}

.ToastOut {
    opacity: 0;
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeout;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes fadein {
    from {opacity:0} 
    to {opacity:1}
}

@keyframes fadein {
    from {opacity:0}
    to {opacity:1}
}

@-webkit-keyframes fadeout {
    from {opacity:1} 
    to {opacity:0}
}

@keyframes fadeout {
    from {opacity:1}
    to {opacity:0}
}