/* 4. TOASTS styling */

/* don't like the over-styled grey-glob inner shadow effect toast...
.ToastGrey {
    -moz-box-shadow:inset 0px -3px 7px 0px #545454;
    -webkit-box-shadow:inset 0px -3px 7px 0px #545454;
    box-shadow:inset 0px -3px 7px 0px #545454;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #38444a), color-stop(1, #1d2329));
    background:-moz-linear-gradient(top, #38444a 5%, #1d2329 100%);
    background:-webkit-linear-gradient(top, #38444a 5%, #1d2329 100%);
    background:-o-linear-gradient(top, #38444a 5%, #1d2329 100%);
    background:-ms-linear-gradient(top, #38444a 5%, #1d2329 100%);
    background:linear-gradient(to bottom, #38444a 5%, #1d2329 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#38444a', endColorstr='#1d2329',GradientType=0);
    background-color:#38444a;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#fff045;
    font-family:Arial;
    padding:7px 15px;
    text-decoration:none;
    text-shadow:1px 1px 1px #000000;
}*/

.ToastGrey {
    opacity: 0.75;
    background-color:#38444a;
    display:inline-block;
    color:#fff045;
    font-family:Arial;
    padding:7px 15px;
    text-decoration:none;
    -webkit-transition: top 0.8s;
    transition: top 0.8s;
}

.ToastGrey a {
    color: #C4E0FF;
}

.ToastCentral {
    position: absolute;
    width: 62%;
    left: 15%;
}

.ToastIn {
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.4s;
    animation-name: fadein;
    animation-duration: 0.4s
}

.ToastOut {
    opacity: 0;
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeout;
    animation-duration: 0.4s
}

.ToastClose {/* The Close X */
    top: -10px;
    right: -10px;
    position: relative;
    color: white;
    float: right;
    font-size: 150%;
    font-weight: bold;
}

.ToastClose:hover,
.ToastClose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* Format the dictionary-text within... */
.defn-main-word{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.defn-queried{
    color: #AAA;
    font-weight: bold;
    text-decoration: underline;
}

.defn-showing{
    font-size: 85%;
    font-style: italic;
    color: white;
}

.defn-showing-word{
    font-style: normal;
    color: white;
    font-size: 118%;
    font-weight: bold;
}

.defn-text {
    font-size: 85%;
    color: #AAA;
}

.gram-grp{
    font-style: italic;
    color: #DE8FFF; /* purple */
    font-weight: 400;
}

.dbox-italic{
    font-style: italic;
}

.dbox-bold{
    color: #CCC;
    font-weight: bold;
}

.definition a{
    color: #6B92BF;
}

.def-block{/* for citations... */
    color: #D1C373;
    font-size: 75%;
    font-weight: bold;
}


.ToastStop {
    top: 1px;
    right: 4px;
    position: absolute;
    font-size: 75%;
    font-weight: bold;
}

.ToastStop.S1{
    color: #629E73;
}

.ToastStop.S2{
    color: #9E7362;
}



/* Add Animation */
@-webkit-keyframes fadein {
    from {opacity:0} 
    to {opacity:0.75}
}

@keyframes fadein {
    from {opacity:0}
    to {opacity:0.75}
}

@-webkit-keyframes fadeout {
    from {opacity:0.75} 
    to {opacity:0}
}

@keyframes fadeout {
    from {opacity:0.75}
    to {opacity:0}
}

.D-Source {
    font-size: 75%;
    color: black;
    padding-top: 6px;
    padding-left: 6px;
}

.D-Source a {
    font-weight: bold;
    color: #1A0047;    
}