@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  /*background-color: #3e94ec;  -  the original blue*/
  background-color: #C6DEBF;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 65%;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #6E5730;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 85%;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:12px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

/* I don't like the mouseover color inversion it is too much
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}*/
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}

/* I don't like the mouseover color inversion it is too much
tr:nth-child(odd):hover td {
  background:#4E5066;
}
*/

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding: 2px 6px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* Additional styles due to structured scrape-results list...*/

.defn-container {
    padding: 1px;
}

.defn-blob {
    border: 1px solid black;
    padding: 1px;
    float: left;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    box-shadow: 0px 0px 3px 1px #000;
    margin: 3px 0px;
}

.blob-green {
    background-color: #57D609;
}

.blob-red {
    background-color: #DB2C04;
}

.blob-pale {
    background-color: #D1EB6C;
}

.defn-source {
    color: #8A8FA8;
    font-size: 9px;
    font-weight: bold;
    margin-left: 23px;
}

.defn-source-ln {
    color: #8191E6;
}

.defn-text {
    margin-left: 35px;
    margin-top: 6px;
    padding-left: 3px;
    font-size: 14px;
    color: #474A5C;
    border-width: 1px 1px 1px 3px;
    border-style: none none dotted solid;
    border-color: #9B9FB3;
}

.defn-qty {
    text-align: right;
    font-size: 11px;
    color: #9899A3;
}

.ln-red{
    color: #F27C7C;
}


.dbox-italic{
    font-style: italic;
}

.dbox-bold{
    font-weight: 400;
}

.gram-grp{
    font-style: italic;
    color: #793FA1; /* purple */
    font-weight: 400;
}

/* This font style is when giving an example of usage of a word / "citation"... */
.def-block{
    font-size: 13px;
    color: #7FA391;
    font-weight: 400;
}

.definition a{
    color: #2C64BF;
}